.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 70px 0;
}

.pacman {
    width: 0; 
    height: 0;
    border: 100px solid #fded08;
    border-right: 100px solid transparent;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin: 0 auto 60px;

    &__eye {
        position: absolute;
        top: -61px;
        left: 27px;
        width: 0;
        height: 0;
        border: 15px solid #fff;
        border-radius: 50%;
        z-index: 2;

        &-apple {
            position: absolute;
            top: -9px;
            left: -7px;
            width: 0;
            height: 0;
            border: 10px solid #000;
            border-radius: 50%;
            z-index: 2;
        }
    }

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
        top: -100px;
        left: -100px;
        width: 0;
        height: 0;
        border: 100px solid #fded08;
        border-right: 100px solid transparent;
        border-radius: 50%;
        z-index: 1;
    }

    &::before {
        animation: upperLip linear 1s infinite;
    }

    &::after {
        animation: lowerLip linear 1s infinite;
    }

    &__food {
        background-color: #000;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        position: absolute;
        top: 50%;
        right: -170px;
        animation: foodBall 2s linear infinite;
        opacity: 0;

        &:nth-child(2) {
            animation-duration: 2s;
            animation-delay: 1s;

        }

        &:nth-child(3) {
            animation-duration: 2s;
            animation-delay: 0s;
        }
    }
}

.row {
    display: flex;
    justify-content: center;
}

.ghost {
    height: 70px;
    width: 60px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
    background-color: #FFFF00;
    position: relative;
    margin: 0 10px 10px;

    &:nth-child(2) {
        background-color: #FF0000;
    }

    &:nth-child(3) {
        background-color: #0000FF;
    }

    &:nth-child(4) {
        background-color: #00FF00;
    }

    &::before,
    &::after {
        content: '';
        position: absolute;
        background-color: #fff;
        width: 17px;
        height: 17px;
        border-radius: 100%;
        top: 17px;
        left: 8px;
        z-index: 1;
    }

    &::after {
        left: 33px;
    }

    &__eye::before,
    &__eye::after {
        content: '';
        position: absolute;
        background-color: #000;
        width: 10px;
        height: 10px;
        border-radius: 100%;
        top: 20px;
        left: 8px;
        z-index: 2;
        animation: moovEyes 1s linear infinite;
    }

    &__eye::after {
        left: 33px;
    }

    &__skirt {
        position: absolute;
        width: 0;
        height: 0;
        border: 10px solid;
        bottom: -8px;
        border-radius: 100%;

        &--yellow {
            border-color: #FFFF00;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 10px solid;
                border-color: #FFFF00;
                border-radius: 100%;
                top: -9px;
                left: 10px;
            }

            &::after {
                left: 30px;
            }
        }

        &--red {
            border-color: #FF0000;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 10px solid;
                border-color: #FF0000;
                border-radius: 100%;
                top: -9px;
                left: 10px;
            }

            &::after {
                left: 30px;
            }
        }

        &--blue {
            border-color: #0000FF;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 10px solid;
                border-color: #0000FF;
                border-radius: 100%;
                top: -9px;
                left: 10px;
            }

            &::after {
                left: 30px;
            }
        }

        &--green {
            border-color: #00FF00;

            &::before,
            &::after {
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border: 10px solid;
                border-color: #00FF00;
                border-radius: 100%;
                top: -9px;
                left: 10px;
            }

            &::after {
                left: 30px;
            }
        }

        
    }
}

@keyframes upperLip {
    0% {
        transform: rotate(270deg);
    }
    50% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

@keyframes lowerLip {
    0% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes foodBall {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    55% {
        opacity: 0;
    }

    100% {
        transform: translateX(-200px);
        opacity: 0;
    }
}

@keyframes moovEyes {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(8px);
    }

    100% {
        transform: translateX(0);
    }
}